body{
    background-image: url(assests/background.jpg);
   
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}   
.header{
    text-decoration: solid;
    text-shadow: 2em;
    font-size: 2rem;
}

.footer{
    text-align: end;
    font-style: oblique;
    font-weight: bolder;
}
.profile img{
    border-radius: 50%;
}